<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>My Home</h1>
    <p th:text="${myStudent.id}"></p>
    <p th:text="${myStudent.name}"></p>

    <a href="/hello">Go to hello page.</a>

    <img th:src="@{/images/dog.jpg}">

    <!--action為form表單要提交的路徑, 所以controller要有對應的/login路徑-->
    <form method="post" action="/login">
        帳號: <input type="text" name="userName"><br>
        密碼: <input type="password" name="userPassword">
        <input type="submit" value="登入">
    </form>

</body>
</html>